.content-wrapper{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    gap: 10px;
}
.content{
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
}